@page "{Id}"
@model MapModel
@{
    ViewData["Title"] = "Home page";
ViewData["FullWidth"] = true;
}

<style>
    html, body, .container-fluid, #map {
        margin: 0;
        border: 0;
        padding: 0;
    }

    .ol-mouse-position {
        background-color: #ffffff;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 0.25em 0.5em;
    }

    /* note: attempt at fixing blurry zoom */
    #map, img, canvas {
        image-rendering: -moz-crisp-edges; /* Firefox */
        image-rendering: -o-crisp-edges; /* Opera */
        image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    }

    /* full screen support */
    .map:-moz-full-screen {
        height: 100%;
    }

    .map:-webkit-full-screen {
        height: 100%;
    }

    .map:-ms-fullscreen {
        height: 100%;
    }

    .map:fullscreen {
        height: 100%;
    }

    .ol-full-screen {
        /* move button down a bit */
        top: 4.5em;
    }

    .ol-rotate {
        top: 7em;
    }

    .popover {
        z-index: auto;
        min-width: 300px !important;
    }

    .popover-title {
        background-color: #202020;
        color: #f0f0f0;
        padding: 0.25em 0.5em;
    }

    .popover-content {
        padding: 0.25em 0.5em;
        font-size: 90%;
    }

    .mob {
    }

    .mob_name {
        font-weight: bold;
    }

    .mob_id {
    }

    /* todo - fix attribution small/weird issue */
    div.ol-attribution.ol-unselectable.ol-control.ol-uncollapsible ul li {
        /* font-size: 200%; */
    }

    div.ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {
        /*
     bottom: 2em;
     right: 5px;
    */
    }

    #throbber {
        z-index: auto;
        background-color: #e0e0e0;
        color: #000000;
        border: 2px solid black;
        border-radius: 5px;
        height: auto;
        width: 200px;
        padding: 10px;
        -moz-opacity: 0.85;
        opacity: 0.85;
        filter: alpha(opacity=85);
        position: absolute;
        left: 75px;
        top: 10px;
    }

    #throbber-msg {
        color: #606060;
    }

    .mycenter {
        text-align: center;
    }

    .lgray {
        color: #b0b0b0;
    }


    /* support for measuring tools */
    .measure {
        top: 8em;
        left: .5em;
    }

    .measureTooltip {
        position: relative;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        color: white;
        padding: 4px 8px;
        opacity: 0.7;
        white-space: nowrap;
    }

    .measureTooltip-measure {
        opacity: 1;
        font-weight: bold;
    }

    .measureTooltip-static {
        background-color: #f9ec1f;
        color: black;
        border: 1px solid white;
    }

        .measureTooltip-measure:before,
        .measureTooltip-static:before {
            border-top: 6px solid rgba(0, 0, 0, 0.5);
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            content: "";
            position: absolute;
            bottom: -6px;
            margin-left: -7px;
            left: 50%;
        }

        .measureTooltip-static:before {
            border-top-color: #f9ec1f;
        }

    .nobreak {
        white-space: nowrap;
    }


    .my-scrollable {
        max-height: 300px;
        overflow: auto;
    }

    .my-simple-scrollable {
        overflow: auto;
    }


    .inventory-grid {
        /* background-color: #ffdddd;*/
        border: 1px dotted gray;
        white-space: nowrap;
        padding: 2px;
        width: 60px;
    }

    .inventory-item-image {
        /* background-color: #ddffdd;*/
        /* display: inline-block; */
        vertical-align: middle;
        /* float: left; */
    }

    .inventory-item-count {
        /* background-color: #ddddff; */
        /* font-size: 24px; */
        /* display: inline-block; */
        vertical-align: middle;
    }

    /* make tabs on inventories etc much samller; indent them a bit */
    .myTabs > li > a {
        padding: 2px;
    }

    .myTabsContainer {
        padding-left: 1em;
    }

    .my-indent {
        padding-left: 1.5em;
    }
</style>

@section FullScreen{
    <div class="container-fluid" data-role="content">
        <div class="row-fluid">
            <div class="span12">
                <div id="map" class="map"></div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom" data-role="navbar">
        <div class="container-fluid">

        </div>
        <div class="btn-group">
            <button type="button" class="btn imageSelect" data-id="0" title="Overview">Overview</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn imageSelect" data-id="1" title="Biome">Biome</button>
        </div>


        <div class="btn-group dropup navbar-btn">
            <button type="button" class="btn btn-primary dropdown-toggle mytooltip" data-toggle="dropdown" title="Select Dimension">
                <span id="dimensionSelectName">Dimension</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" class="dimensionSelect" data-id="0">Overworld</a></li>
                <li><a href="#" class="dimensionSelect" data-id="1">Nether</a></li>
                <li><a href="#" class="dimensionSelect" data-id="2">The End</a></li>
            </ul>
        </div>

        <div class="btn-group navbar-btn">
            <button type="button" class="btn btn-primary mytooltip" id="layerPrev" title="Go to Lower Layer">&darr;</button>
            <div class="btn-group dropup">
                <button type="button" class="btn btn-primary dropdown-toggle mytooltip" data-toggle="dropdown" title="Select Layer">
                    <span id="layerNumber">Go to Layer</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" class="layerGoto" data-id="255" href="#">Layer 255 (Build Limit)</a></li>
                    <li><a href="#" class="layerGoto" data-id="240" href="#">Layer 240</a></li>
                    <li><a href="#" class="layerGoto" data-id="225" href="#">Layer 225</a></li>
                    <li><a href="#" class="layerGoto" data-id="210" href="#">Layer 210</a></li>
                    <li><a href="#" class="layerGoto" data-id="195" href="#">Layer 195</a></li>
                    <li><a href="#" class="layerGoto" data-id="180" href="#">Layer 180</a></li>
                    <li><a href="#" class="layerGoto" data-id="165" href="#">Layer 165</a></li>
                    <li><a href="#" class="layerGoto" data-id="150" href="#">Layer 150</a></li>
                    <li><a href="#" class="layerGoto" data-id="135" href="#">Layer 135</a></li>
                    <li><a href="#" class="layerGoto" data-id="120" href="#">Layer 120</a></li>
                    <li><a href="#" class="layerGoto" data-id="105" href="#">Layer 105</a></li>
                    <li><a href="#" class="layerGoto" data-id="90" href="#">Layer 90</a></li>
                    <li><a href="#" class="layerGoto" data-id="75" href="#">Layer 75</a></li>
                    <li><a href="#" class="layerGoto" data-id="62" href="#">Layer 62 (Sea Level)</a></li>
                    <li><a href="#" class="layerGoto" data-id="45" href="#">Layer 45</a></li>
                    <li><a href="#" class="layerGoto" data-id="30" href="#">Layer 30</a></li>
                    <li><a href="#" class="layerGoto" data-id="15" href="#">Layer 15</a></li>
                    <li><a href="#" class="layerGoto" data-id="0" href="#">Layer 0 (Bedrock)</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-primary mytooltip" id="layerNext" title="Go to Higher Layer">&uarr;</button>
        </div>

        @*<div class="btn-group dropup navbar-btn">
            <button type="button" class="btn btn-primary dropdown-toggle mytooltip" data-toggle="dropdown" title="Select Main Image">
                <span id="imageSelectName">Main Image</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" class="imageSelect" data-id="0">Overview</a></li>
                <li><a href="#" class="imageSelect" data-id="1">Biome</a></li>
                <li><a href="#" class="imageSelect" data-id="2">Height</a></li>
                <li><a href="#" class="imageSelect" data-id="3">Height (Grayscale)</a></li>
                <li><a href="#" class="imageSelect" data-id="4">Block Light</a></li>
                <li><a href="#" class="imageSelect" data-id="5">Grass Color</a></li>
            </ul>
        </div>*@

        @*<div class="btn-group dropup navbar-btn menu-stay">
            <button type="button" class="btn btn-primary dropdown-toggle mytooltip" data-toggle="dropdown" id="menuPassiveMobs" title="Show Passive Mobs">
                Passive Mobs
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" class="entityToggle" data-type="P" data-id="19">Bat</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="10">Chicken</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="11">Cow</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="24">Donkey</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="23">Horse</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="26">Horse, Skeleton</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="27">Horse, Zombie</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="20">Iron Golem</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="29">Llama</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="16">Mooshroom</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="25">Mule</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="22">Ocelot</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="30">Parrot</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="12">Pig</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="28">Polar Bear</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="18">Rabbit</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="13">Sheep</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="21">Snow Golem</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="17">Squid</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="15">Villager</a></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="14">Wolf</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" class="entityToggle" data-type="P" data-id="63">Player</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" class="featureToggleAddAll" data-type="P">Show All</a></li>
                <li><a href="#" class="featureToggleRemoveAll" data-type="P">Hide All</a></li>
            </ul>
        </div>

        <div class="btn-group dropup navbar-btn menu-stay">
            <button type="button" class="btn btn-primary dropdown-toggle mytooltip" data-toggle="dropdown" id="menuHostileMobs" title="Show Hostile Mobs">
                Hostile Mobs
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" class="entityToggle" data-type="H" data-id="40">Cave Spider</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="33">Creeper</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="38">Enderman</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="49">Guardian</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="50">Guardian, Elder</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="47">Husk</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="51">NPC</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="39">Silverfish</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="34">Skeleton</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="48">Skeleton, Wither</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="37">Slime</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="35">Spider</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="46">Stray</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="45">Witch</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="52">Wither</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="32">Zombie</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="44">Zombie Villager</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="43">Blaze</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="41">Ghast</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="42">Magma Cube</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="36">Zombie Pigman</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="53">Ender Dragon</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="55">Endermite</a></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="54">Shulker</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" class="entityToggle" data-type="H" data-id="63">Player</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" class="featureToggleAddAll" data-type="H">Show All</a></li>
                <li><a href="#" class="featureToggleRemoveAll" data-type="H">Hide All</a></li>
            </ul>
        </div>*@

        @*<div class="btn-group dropup navbar-btn menu-stay">
            <button type="button" class="btn btn-primary dropdown-toggle mytooltip" data-toggle="dropdown" id="menuObjects" title="Show Objects">
                Objects
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" class="tileEntityToggle" data-type="O" data-id="Village">Village</a></li>
                <li><a href="#" class="tileEntityToggle" data-type="O" data-id="MobSpawner">Mob Spawner</a></li>
                <li><a href="#" class="tileEntityToggle" data-type="O" data-id="NetherPortal">Nether Portal</a></li>
                <li><a href="#" class="tileEntityToggle" data-type="O" data-id="SignNonBlank">Sign (Non-blank)</a></li>
                <li><a href="#" class="tileEntityToggle" data-type="O" data-id="SignBlank">Sign (Blank)</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" class="tileEntityToggle" data-type="O" data-id="Chest">Chest</a></li>
                <li><a href="#" class="tileEntityToggle" data-type="O" data-id="ShulkerBox">Shulker Box</a></li>
                <li><a href="#" class="tileEntityToggle" data-type="O" data-id="EnderChest">Ender Chest</a></li>
                <li><a href="#" class="tileEntityToggle" data-type="O" data-id="Hopper">Hopper</a></li>
                <li><a href="#" class="tileEntityToggle" data-type="O" data-id="Dropper">Dropper</a></li>
                <li><a href="#" class="tileEntityToggle" data-type="O" data-id="Dispenser">Dispenser</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" class="entityToggle" data-type="O" data-id="61">Armor Stand</a></li>
                <li><a href="#" class="entityToggle" data-type="O" data-id="90">Boat</a></li>
                <li><a href="#" class="entityToggle" data-type="O" data-id="64">Dropped Item</a></li>
                <li><a href="#" class="entityToggle" data-type="O" data-id="84">Minecart</a></li>
                <li><a href="#" class="entityToggle" data-type="O" data-id="98">Minecart with Chest</a></li>
                <li><a href="#" class="entityToggle" data-type="O" data-id="96">Minecart with Hopper</a></li>
                <li><a href="#" class="entityToggle" data-type="O" data-id="97">Minecart with TNT</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" class="featureToggleAddAll" data-type="O">Show All</a></li>
                <li><a href="#" class="featureToggleRemoveAll" data-type="O">Hide All</a></li>
            </ul>
        </div>*@

        @*<div class="btn-group dropup navbar-btn menu-stay" id="blockSelectButton">
            <button type="button" class="btn btn-primary dropdown-toggle mytooltip" data-toggle="dropdown" id="menuBlocks" title="Show Blocks">
                Blocks
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="blockSelectList">
                <li role="separator" class="divider"></li>
                <li><a href="#" class="blockToggleAddAll">Show All</a></li>
                <li><a href="#" class="blockToggleRemoveAll">Hide All</a></li>
            </ul>
        </div>*@

        @*<div class="btn-group dropup navbar-btn menu-stay">
            <button type="button" class="btn btn-primary dropdown-toggle mytooltip" data-toggle="dropdown" id="menuOptions" title="Options">
                Options
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" id="gridToggle">Show Chunk Grid</a></li>
                <li><a href="#" id="chunkDisplayToggle">Show Chunk Coordinates</a></li>
                <li><a href="#" id="showNetherCoordinatesToggle">Show Nether Coordinate Conversion</a></li>
                <li><a href="#" id="slimeChunksToggle">Show Slime Chunks</a></li>
                <li><a href="#" id="checkPlayerDistanceToggle">Only Show Mobs Within 128 Blocks of Player</a></li>

                <li role="separator" class="divider"></li>

                <li>
                    <a href="#" id="elevationAlphaToggle">Show Height Shading</a>
                    <ul>
                        <li class="input-group">
                            <span class="input-group-addon">Opacity: <span id="elevationAlphaOpacityOut"></span>%</span>
                            <input id="elevationAlphaOpacity" class="mytooltip" title="Overlay Opacity" type="range" min="0" max="100" data-default="60" value="60" />
                        </li>
                    </ul>
                </li>

                <li role="separator" class="divider"></li>

                <li>
                    <a href="#" id="elevationStaticToggle">Show Shaded Relief (Pre-generated)</a>
                    <ul>
                        <li class="input-group">
                            <span class="input-group-addon">Opacity: <span id="elevationStaticOpacityOut"></span>%</span>
                            <input id="elevationStaticOpacity" class="mytooltip" title="Overlay Opacity" type="range" min="0" max="100" data-default="30" value="30" />
                        </li>
                    </ul>
                </li>

                <li role="separator" class="divider"></li>

                <li><a href="#" id="btnCheckUpdate">Check for <b>MCPE Viz</b> update...</a></li>
                <li><a href="#" id="btnAbout">About <b>MCPE Viz</b>...</a></li>
            </ul>
        </div>*@

        <div class="btn-group">
            <button type="button" class="btn btn-danger mytooltip" id="btnHelp" title="Help">Help</button>
        </div>

        <div class="navbar-header navbar-right">
            <div id="worldInfo" class="navbar-text">
            </div>
        </div>
    </div>
    </div>
}

@section Scripts{
    <link href="~/lib/ol/ol.css" rel="stylesheet" />
    <script src="~/lib/ol/ol.js"></script>
    <script src="~/MapContents/@(Model.Id)/index.js"></script>
    <script src="~/MapContents/@(Model.Id)/index.geojson"></script>

    <script>
        var info = dimensionInfo;
        for (var dimensionIndex in dimensionInfo) {
            var dimension = dimensionInfo[dimensionIndex];
            for (var i = 0; i < dimension.listLayers.length; i++) {
                dimension.listLayers[i] = "/MapContents/@(Model.Id)/" + dimension.listLayers[i];
            }
            for (var k in dimension) {
                if (k.indexOf('fn') === 0) {
                    dimension[k] = "/MapContents/@(Model.Id)/" + dimension[k];
                }
            }
        }
    </script>
    <script src="~/js/mcpe_viz.js"></script>
    }